@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(#06283d, #143f6b);
}

h1 {
  line-height: 1.1;
}
li {
  list-style: none;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  background: linear-gradient(#4bdfe4, #9473f0);
  -webkit-background-clip: text;
  color: transparent;
}
.b-save {
  background: linear-gradient(#4bdfe4, #9473f0);
  border: none;
  color: black;
  font-size: 1rem;
}
.t-info {
  font-family: 'Bitter', serif;
  color: #3c3028;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 0.8rem;
}